.app {
  display: flex;
  flex-direction: column;
  background-color: $colorWhite2;
  width: 100vw;
  height: 100vh;

  overflow: hidden;


  &__main {
    display: flex;
    height: 100%;
    width: 100%;
  }
}