.icon {
  font-size: 1.6rem;
}

.btn-cian {
  border-radius: 2px;
  background-color: $colorCian;
  border-color: $colorCian;

  &:hover {
    background-color: $colorCian2;
    border-color: $colorCian2;
  }

  &:active {
    background-color: $colorCian3 !important;
    border-color: $colorCian3 !important;
  }

  &:disabled {
    background-color: $colorCian3 !important;
    border-color: $colorCian3 !important;
  }
}

.btn.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: $btnWidth;
  height: $btnWidth;
}

.btn.active {
  background: $colorOrange;
  border-color: $colorOrange;
}