.canvas {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;

  margin: 5px;

  height: calc(100% - $settingsHeight - 5px);

  .select, .select-connection {
    box-sizing: border-box;
    position: absolute;
    border: 2px dashed $colorBlue;
    z-index: 20;
    height: 0;
    width: 0;
    left: 0;
    top: 0;

    -ms-user-select: none !important;
    -moz-user-select: none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;

    .circle {
      display: none;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      border: 2px dashed $colorOrange;
    }

    &.circle .circle{
      display: block;
    }
  }

  .select-connection {
    border: 2px dashed #ae2ad9;

    &__name {
      white-space: nowrap;
      color: #ae2ad9;
      font-weight: bold;
      height: 26px;
      padding: 0 10px;
      position: absolute;
      top: -32px;
      left: -2px;
      border: 2px dashed #ae2ad9;
    }
  }
}

#shield {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 600px;
}

canvas {
  position: relative;
  //border: $border;
  background: $colorWhite;
}