.canvas {
  @include no-select;

  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 5px;
  height: calc(100% - $settingsHeight - 5px);

  width: 100%;
  //height: 100%;

  .select, .select-connection {
    @include no-select;
    box-sizing: border-box;
    position: absolute;
    border: $borderOwnerSelect;
    z-index: 20;
    height: 0;
    width: 0;
    left: 0;
    top: 0;

    .circle {
      display: none;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      border: $borderOwnerSelect;
    }

    .triangle {
      position: absolute;
      display: none;
      overflow: hidden;
      width: 100%;
      height: 100%;

      &__bottom {
        position: absolute;
        bottom: 0;
        height: 0;
        width: 100%;
        border: $borderOwnerSelect;
      }

      &__right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        border: $borderOwnerSelect;
      }

      &__left {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        border: $borderOwnerSelect;
      }
    }

    &.circle, &.triangle {
      border: none;
    }

    &.circle .circle{
      display: block;
    }

    &.triangle .triangle{
      display: block;
    }

    &.triangle.top .triangle{
      transform: rotate(180deg);
    }
  }

  .select-connection {
    border: 2px dashed #ae2ad9;

    &__name {
      white-space: nowrap;
      color: #ae2ad9;
      font-weight: bold;
      height: 26px;
      padding: 0 10px;
      position: absolute;
      top: -32px;
      left: -2px;
      border: 2px dashed #ae2ad9;
    }
  }

  &__resize-right, &__resize-bottom {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 200;

    &:hover {
      opacity: 1 !important;
    }
  }

  &__resize-right {
    cursor: col-resize;
    right: -8px;
    width: 8px;
    height: 100%;
    border-left: 2px dotted #0167ff;
  }

  &__resize-bottom {
    cursor: row-resize;
    bottom: -8px;
    width: 100%;
    height: 8px;
    border-top: 2px dotted #0167ff;
  }
}

#shield {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 600px;
}

canvas {
  position: relative;
  background: $colorWhite;
}