* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(230, 230, 230);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(111, 111, 111);
  border-radius: 10px;
}