.header {
  @include no-select;
  display: flex;
  padding-left: $toolbarPaddingLeft;
  min-height: $settingsHeight;
  width: 100%;
  background: $colorWhite;

  .btn {
    margin-left: $toolbarMargin;
    margin-top: $toolbarMargin;
    padding: 0;
    height: $btnWidth;
    width: $btnWidth * 2  + $toolbarMargin;
  }

  &__left {
    min-width: $toolbarWidth;
  }

  &__right {
    width: 100%;
    border-bottom: $border;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: roboto;
    white-space: nowrap;
    background: linear-gradient(90deg,red,#007bff 50%,#29cc00);
    letter-spacing: -1px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    margin-bottom: 0;
  }

  &__users {
    align-items: center;
    display: flex;
    overflow: auto;
    height: 100%;
    max-width: 400px;
  }

  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorCian;
    color: $colorWhite;
    height: $btnWidth;
    border-radius: 2px;
    padding: 0 10px;
    margin-right: $toolbarMargin;

    .icon {
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 850px){
  .header {
    &__title {
      display: none;
    }

    &__users {
      width: 100%;
      max-width: initial;
      overflow: initial;
    }

    &__right {
      overflow: auto;
    }
  }
}