.user-modal {
  padding: 20px;

  &__header {
    .btn-close {
      display: none;
    }
  }

  &__alert {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    padding: 0 20px;
    height: 40px;
  }

  &__btn {
    height: 40px;
    padding: 0 20px;
    font-size: 1.3rem;
  }
}