$colorWhite: #ffffff;
$colorWhite2: #ebebeb;
$colorOrange: #ee9000;
$colorCian: #1c968a;
$colorCian2: #1a867b;
$colorCian3: #26aca0;
$colorOwnerBorder: #00ffe5;

$settingsHeight: 52px;
$toolbarWidth: 192px;
$toolbarPaddingLeft: 6px;
$border: 1px solid #e3e3e3;

$borderOwnerSelect: 1px dashed black;
$outlineOwnerSelect: 1px dashed white;

$toolbarMargin: 8px;
$toolbarPadding: 8px;
$btnWidth: 34px;

$paletteWidth: 160px;
$paletteMargin: 8px;
