$colorWhite: #ffffff;
$colorWhite2: #ebebeb;

$colorBlue: #1059ff;

$settingsHeight: 52px;
$toolbarWidth: 186px;
$border: 1px solid #e3e3e3;

$btnMargin: 8px;
$btnPadding: 8px;
$btnWidth: 34px;

$paletteWidth: 160px;
$paletteMargin: 8px;

$colorOrange: #ff9900;

$colorCian: #1c968a;
$colorCian2: #1a867b;
$colorCian3: #26aca0;
