$colorMain: #d9d9d9;
$colorWhite: #fafafa;
$settingsHeight: 60px;
$toolbarWidth: 210px;
$border: 1px solid #d8d8d8;
$btnMargin: 10px;
$btnWidth: 40px;

$paletteWidth: 194px;
$paletteMargin: 8px;

$colorOrange: #ff8400;
